<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Обновление системы</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <div class="header-container">
      <h1><a href="/admin">Главная</a></h1><h2>Загрузка обновления</h2>
      <div class="user-info">
        Пользователь: <%= user.username %> |
        <a href="/logout">Выйти</a>
      </div>
    </div>
  </header>
  <main>
    <section>
	  <h1>Загрузка обновления</h1>
	  <form action="/update" method="post" enctype="multipart/form-data">
		<label for="updateZip">Выберите ZIP архив с обновлением:</label>
		<input type="file" id="updateZip" name="updateZip" accept=".zip" required>
		<br><br>
		<button type="submit">Загрузить обновление</button>
	  </form>
    </section>  
  </main>
</body>
</html>

